<p>offres-emploi-component works!</p>
<div>
  <!--
    <input type="text" [(ngModel)]="searchValue" (ngModelChange)="filterEmploi(searchValue)">
  -->  
  Filter : <input type="text" placeholder=" what you are searching for" [(ngModel)]="searchValue">

</div>
<button (click)="OffreDispo()"> Bilan </button>
<p>{{nbroffreDispo}}</p>
<div *ngFor="let emploi of listeEmploi">
    <h2>{{ emploi.titre }}</h2>
    <p>{{ emploi.reference }}</p>
    <button [disabled]="!emploi.etat">Postuler</button>
  </div>
   